<app-header [showBtn]="true" (onLogout)="onLogout()"></app-header>
<div class="row m-5">
  <div class="col">
    <button class="btn btn-primary">View Suggestions</button>
  </div>
  <div class="col">
    <button class="btn btn-primary" [routerLink]="'/brandCampaign'">Start Campaign</button>
  </div>
  <div class="col">
    <button class="btn btn-primary">View Campaigns</button>
  </div>
  <div class="col">
    <button class="btn btn-primary" [routerLink]="'/brandProfile'">Profile</button>
  </div>
</div>
