<app-header></app-header>
<div class="row m-4">
  <button class="btn btn-primary col-sm-3" [routerLink]="'/influencerDashboard'">Dashboard</button>
</div>
<div class="row m-5">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5>Beginner Course</h5>
      </div>
      <div class="card-body">
        <h6>Course Content</h6>
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">1. Introduction</li>
            <li class="list-group-item">2. Content Monitoring</li>
            <li class="list-group-item">3. How to grow on Reels</li>
            <li class="list-group-item">4. Hashtag Growth</li>
          </ul>
        </div>
      </div>
      <div class="card-footer">
        <h5>Price: ₹ 1500</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5>Intermediate Course</h5>
      </div>
      <div class="card-body">
        <h6>Course Content</h6>
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">1. Facebook/Instagram/Google Ads</li>
            <li class="list-group-item">2. SEO</li>
            <li class="list-group-item">3. Affiliate Marketing</li>
            <li class="list-group-item">4. Product launch ideas</li>
          </ul>
        </div>
      </div>
      <div class="card-footer">
        <h5>Price: ₹ 3000</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5>Advanced Course</h5>
      </div>
      <div class="card-body">
        <h6>Course Content</h6>
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">1. Video Making and Editing</li>
            <li class="list-group-item">2. Email Marketing</li>
            <li class="list-group-item">3. Lead Generation</li>
            <li class="list-group-item">4. Advance Marketing</li>
          </ul>
        </div>
      </div>
      <div class="card-footer">
        <h5>Price: ₹ 5000</h5>
      </div>
    </div>
  </div>
</div>
