<app-header></app-header>
<div class="row vh-100 row-background">
  <div class="col brand-background">
    <div class="card" style="width: 18rem;">
      <img src="../../../../assets/Leading-Influencer-Marketing-Trends-for-2019-1.jpeg" class="card-img-top" alt="..." height="200">
      <div class="card-body">
        <p class="card-text">Enroll your brand and connect to the influencrs for better social media matrketing.</p>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-large btn-dark m-1 align-middle" [routerLink]="'/brandAuth'">Brands</button>
      </div>
    </div>
  </div>
  <div class="col influencer-background">
    <div class="card" style="width: 18rem;">
      <img src="../../../../assets/75817652.cms" class="card-img-top" alt="..." height="200">
      <div class="card-body">
        <p class="card-text">Enroll as a influencer to connect with bands and engage yourself in social media promotions.</p>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-large btn-dark m-1 align-middle" [routerLink]="'/influencerAuth'">Influencers</button>
      </div>
    </div>
  </div>
</div>
